
/* Wejet Changes */

.showroom-map-block{
    margin: 0 !important;
}
.showroom-map-block-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: space-between;
}
.showroom-map-block-descr{
    width: 100%;
    background-color: #F4F5F6;
    padding: min(40px, 11.33%) min(48px, 10.81%);
    margin-bottom: 30px;
}
.showroom-map-block-descr-row{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}
.showroom-map-block-descr-row .showroom-map-block-info-row{
    width: 50%;
}
.showroom-map-block-descr-row .showroom-map-block-info-row:first-child{
    padding-right: 3.75%;
}
.showroom-map-block-descr-row .showroom-map-block-info-row:last-child{
    padding-left: 3.75%;
}
.showroom-map-block-descr-fullheigh{
    height: 100%;
}
.showroom-map-block-descr > div{
    margin-bottom: 22px;
}
.showroom-detail .showroom-map-block-descr > div,
.showroom-detail .showroom-map-block-descr > hr{
    margin-bottom: 32px;
}
.showroom-detail .showroom-map-block-descr > hr{
    border: 1px solid #E1E1E1;
    border-bottom-width: 0;
}
.showroom-map-block-info-row{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}
.showroom-map-block-info-col{
    max-width: calc(96.23% - 48px);
}
.showroom-map-block-info-icon{
    margin-right: 3.77%;
}
.showroom-map-block-descr-row .showroom-map-block-info-icon{
    margin-right: 7.44%;
}
.showroom-map-block-info-icon{
    flex: none;
}
.showroom-map-block-info-icon img{
    padding: 5px;
    background: #FFFFFF;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
.showroom-map-block-tittle{
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 8px;
    color: #000000;
}
.showroom-map-block-descr div:first-child .showroom-map-block-tittle{
    font-weight: 700;
}
.showroom-map-block-descr-row .showroom-map-block-tittle{
    font-weight: 500!important;
}
.showroom-map-block-text{
    color: #000000;
    font-size: 13px;
    margin-bottom: 8px;
    position: relative;
}
.showroom-map-block-text:last-child{
    margin-bottom: 0;
}
.showroom-map-block-text-gray{
    color: #afaeae;
}
.showroom-map-block-metro-lightgreen{
    padding-left: 26px;
}
.showroom-map-block-metro-lightgreen:before{
    content: "";
    position: absolute;
    top: 4px;
    width: 14px;
    height: 10px;
    background: transparent url(//s0.lm-cdn.ru/img_new/icon-metro-lightgreen.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    left: 5px;
}
.showroom-map-block-metro-blue{
    padding-left: 26px;
}
.showroom-map-block-metro-blue:before{
    content: "";
    position: absolute;
    top: 4px;
    width: 14px;
    height: 10px;
    background: transparent url(//s0.lm-cdn.ru/img_new/icon-metro-blue.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    left: 5px;
}
.showroom-map-block-button{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    color: #83C150;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: 500;
    border-radius: 3px;
}
.showroom-map-block-button:hover{
    color: #83C150;
}
.showroom-detail-info {
    text-align: left;
    padding: 20px 0;

    ul {
        padding-left: 20px;
    }

    .block-info {
        text-align: center;
        padding: 30px 0;

        img {
            margin: 0 auto 20px auto;
        }

        a {
            font-weight: 500;
        }
    }
}

.showroom-videos {
    padding-bottom: 20px;

    .showroom-video {
        margin-bottom: 20px;
    }
}
.showroom-map{
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
}
.showroom-map-block-back{
    margin: 10px 0 34px 0;
    display: block;
    font-weight: 500;
    position: relative;
    padding-left: 40px;
}
.showroom-map-block-back:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 20px;
    height: 14px;
    background: transparent url(//s0.lm-cdn.ru/img_new/icon-back.svg) 0 0 no-repeat;
    background-size: 100% 100%;
    left: 10px;
}
.showroom-map-block-route{
    color: #83C150;
    font-weight: 500;
}

.showroom-tabs{

}
.showroom-tabs h2{
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.new-showroom-select {
    margin-bottom: 30px;
}
.new-showroom-select-tab{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 58px;
    background-color: #F4F5F6;
    color: #000000;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 10px;
}
.new-showroom-select-tab.active{
    background-color: #FFFFFF;
    border-color: #a1a1a1;
}
.new-showroom-select-tab span{
    margin: 0 0 0 22px;
    padding: 0 22px;
    position: relative;
}
.new-showroom-select-tab:hover{
    color: #000000;
}
.new-showroom-select-tab span:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: -2px;
    width: 16px;
    height: 16px;
    border: 1px solid #a1a1a1;
    background: #ffffff;
    border-radius: 50%;
    -webkit-transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: border-color, background-color;
}
.new-showroom-select-tab.active span:after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 3px;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: opacity;
}
.new-showroom-select-tab.active span:before {
    border-color: #83C150;
    background-color: #83C150;
}
.new-showroom-select-tab.active span:after {
    opacity: 1;
}

.new-showroom-products {
    text-align: center;
    margin-bottom: 60px;
}

.showroom-tab:not(.active) {
    display: none;
}

.new-showroom-products-caption {
    color: #393939;
    padding-bottom: 11px;
}

.new-showroom-products-caption p {
    margin-bottom: 18px;
}

.new-showroom-products-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px;
}

.new-showroom-products-title h2, .new-showroom-products-title h3, .new-showroom-products-title h4 {
    font-size: 100%;
    font-weight: bold;
}

.new-showroom-products-categories-wrapper {
    position: relative;
    margin-bottom: 80px;
}

.new-showroom-products-categories {
    padding-left: 1px;
}

.new-showroom-products-category {
    display: block;
    position: relative;
    text-align: center;
    padding: 26px 10px 7px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    margin-left: -1px;
}

.new-showroom-products-category:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    -webkit-transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.new-showroom-products-category:hover,
.new-showroom-products-category.active {
    z-index: 2;
    background-color: rgba(131, 193, 80, 0.1);
    border-color: #83C150;
}

.new-showroom-products-category:hover:before,
.new-showroom-products-category.active:before {
    border-color: #83C150;
}

.new-showroom-products-category-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 0 auto 1px;
}

.new-showroom-products-category-title {
    display: block;
    color: #000000;
    height: 54px;
    overflow: hidden;
}

.new-showroom-products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -8px;
    margin-bottom: 20px;
}
.catalog-more .button {
    background: #F4F5F6;
    color: #000000;
}

.new-showroom-products-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 8px 29px;
}

.new-showroom-products-item-link {
    display: block;
    text-align: center;
}

.new-showroom-products-item-img {
    display: block;
    margin-bottom: 17px;
}

.new-showroom-products-item-img img {
    width: 100%;
}

.new-showroom-products-item-title {
    display: block;
    color: #393939;
    margin-bottom: 5px;
}

.new-showroom-products-item-price {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 500;
    color: #000000;
}

.new-showroom-products-item-price-new {
    display: inline-block;
    vertical-align: top;
    color: #F30000;
    letter-spacing: -0.26px;
}

.new-showroom-products-item-price-old {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    line-height: 1.364;
    color: #a1a1a1;
    text-decoration: line-through;
}

.new-showroom-products-more .button {
    min-width: 260px;
}

.new-showroom-products .swiper-pagination {
    text-align: center;
    width: 100%;
    bottom: -30px;

    .swiper-pagination-bullet {
        margin: 0 5px;

        &.swiper-pagination-bullet-active {
            width: 8px;
        }
    }
}

.showroom-banner {
    display: block;
    padding: 30px 0;
    margin-bottom: 50px;

    img {
        width: 100%;
    }
}