.section-fav {
	& .caption {
		display: flex;
		align-items: center;
		justify-content: center;
		&-number {
			margin-left: 5px;
			font-weight: 900;
			color: #83c150;
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px;
	}

	& .catalog-product {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;

		&-link {
			flex-grow: 1;
		}

		&-price {
			margin-bottom: 12px;
		}

		&-group {
			display: flex;
			align-items: center;
		}

		&-add-basket {
			position: relative;
			padding: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 40px;
			font-weight: 400;
			font-size: 8px;
			line-height: 120%;
			text-align: center;
			color: #393939;
			background: #83c150;
			border-radius: 3px;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 25px;
				height: 24px;
				background: url("../upload/new-fav/icon-basket.svg") no-repeat center / contain;
			}
			&.added {
				background: #ffa22a;
				&::before {
					width: 29px;
					background: url("../upload/new-fav/icon-basket-added.svg") no-repeat center / contain;
				}
			}

			&.empty {
				background: #f4f5f6;
				&::before {
					content: none;
				}
			}
		}

		&-favorite {
			position: relative;
			top: initial;
			left: initial;
			right: initial;
			bottom: initial;
			margin: 0 20px;
			&::before,
			&::after {
				width: 22px;
				height: 22px;
				margin-top: -11px;
				margin-left: -11px;
			}
		}
	}

	&-empty {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		padding: 15px 0 50px 0;
		&-group {
			width: 100%;
			text-align: center;
		}

		&-icon {
			margin-bottom: 30px;
			& img {
				margin: 0 auto;
			}
		}

		&-text {
			margin-bottom: 30px;
			font-weight: 400;
			font-size: 15px;
			line-height: 140%;
			text-align: center;
			color: #a1a1a1;
		}

		&-btn {
			width: 100%;
		}
	}
}

// @media (max-width: 420px) {
// 	.section-fav {
// 		& .catalog-product {
// 			&-add-basket {
// 				width: 80px;
// 			}
// 		}
// 	}
// }
